
.logo {
  height: 35px;
}

.navbar {
  height: 70px;
}

@media (max-width: 767px) {
  .logo {
    height: 30px;
  }

  .navbar {
    height: 63px;
  }

  .main {
    margin-top: 80px;
  }

  th {
    font-size: 10px;
  }

  td {
    font-size: 20px;
  }

}


.navbar-inverse {
  background-color: #00cfdc;
  border: none;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.main {
  margin-top: 60px;
}

th {
  font-size: 20px;
}

td {
  font-size: 30px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #E0FFFF; 

}

h3 {
  padding: 0;
  margin: 0;
}