
.logo {
  height: 100px;
}

.navbar {
  height: 150px;
}

.navbar-inverse {
  background-color: #00cfdc;
  border: none;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.main {
  margin-top: 160px;
}

th {
  font-size: 20px;
}

td {
  font-size: 30px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #E0FFFF; 

}
